{% extends "base.html" %}
{% block info %}
    <h1>{{ cocktail.Name }}</h1>
    <p>{{ cocktail.Category }}</p>
    <img src="{{ cocktail.Photo }}" alt="Cocktail Image" class="cocktail-image">
    <h2>Instruction:</h2>
    <p style="padding-left: 250px; padding-right: 250px;">{{ cocktail.Instruction }}</p>
    <h2>Ingredients:</h2>
    <button id="toggle-button" style="margin-bottom: 20px;">Show ingredients</button>
    <ul id="ingredients">
        {% for ingredient in cocktail.Ingredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
    <script>
        const instruction = document.getElementById('ingredients');
        const toggleButton = document.getElementById('toggle-button');

        toggleButton.addEventListener('click', () => {
            if (instruction.style.display === 'none') {
                instruction.style.display = 'block';
            } else {
                instruction.style.display = 'none';
            }
        });

        instruction.style.display = 'none';
    </script>
{% endblock %}